.one {
    position: relative;
    width: 50vw;
    height: 80vh;
    border: black;
    text-align: center;
    margin: auto;
    top: 70px;
    border-radius: 15px;
    background-color: black;
  }

.one h1.hree {
    font-size: 7rem;
    font-weight: bolder;
    padding-top: 10rem;
    background-image: linear-gradient(43deg, #00ccff 0%, #ffffff 46%, #ff0066 100%);
    -webkit-background-clip: text;
    color: transparent;
}

.two h1.four {
    color: black;
    font-size: 5rem;
    padding-top: 5rem;
}


.two {
    position: absolute;
    width: 57rem;
    height: 20rem;
    border: 15px white;
    top: 27rem;
    right: 0.5rem;
    left: 0.5rem;
    margin: auto;
    text-align: center;
    border-radius: 0px 0px 15px 15px;
    background-color: white;
  }

